@{
    ViewData["Title"] = "Welcome";
}

<h1>Welcome to the Container and BL Management System</h1>

<p>
    Use the navigation menu below to manage the Bills of Lading (BLs) and Containers in the system.
</p>

<p>
    Developed by:
    Douglas Reis - CB3022722
    Lucas Lusni - CB3022684
</p>

<hr />
